.date-wrap {
  padding: 0 20px 20px;
  box-sizing: border-box;
}
.week-row {
  display: flex;
  box-sizing: border-box;
}
.week-col {
  flex: 0 0 60px;
  line-height: 60px;
  text-align: center;
  font-weight: 700;
}
.year-wrap,
.month-wrap {
  /* width: 100%; */
  padding: 0 20px 20px;

  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.year-col,
.month-col {
  flex: 0 0 105px;
  text-align: center;
  line-height: 105px;
  font-weight: 500;
  cursor: pointer;
  box-sizing: border-box;
}
.days-wrap {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.days-row {
  display: table-row;
}
.day-col {
  flex: 0 0 60px;
  line-height: 60px;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
}

.day-col:hover {
  background: rgb(206, 201, 201);
  color: #ffffff;
  border-radius: 50%;
}
.year-col.not-current-decad,
.day-col.not-current-day {
  color: #eeeeee;
}
.year-col:hover,
.month-col:hover,
.day-col.selected-day {
  background: #db3d44;
  color: #ffffff;
  border-radius: 50%;
}
.day-col.present-day {
  color: #db3d44;
  font-weight: 800;
}

@media (max-width: 500px) {
  .date-wrap {
    padding: 10px;
    box-sizing: border-box;
  }
  .year-wrap,
  .month-wrap,
  .week-row,
  .days-wrap {
    margin: auto;
    max-width: 375px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .day-col {
    flex: 0 0 50px;
    line-height: 50px;
    font-size: 12px;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
  }
  .week-col {
    flex: 0 0 50px;
    line-height: 50px;
    font-size: 12px;
    text-align: center;
    font-weight: 700;
  }
}
